pip install --upgrade pip setuptools wheel
pip install matplotlib==3.5.2
pip install numpy==1.23.1
pip install scikit-learn==1.1.1
pip install tqdm==4.64.0
pip install mlxtend==0.20.0
pip install pomegranate==0.14.8
pip install pomegranate==0.14.6 --only-binary :all

#pyenv('Version','/xxx/venv/bin/python');
